@import './base.css';

@import 'https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap';

#app {
  margin: 0 auto;
  font-weight: normal;
	font: 0.9em 'Funnel Sans',sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


h2 {
	font-size: 1.25rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 800;
	justify-self: flex-start;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	&:after {
		background: currentcolor;
		margin-left: -100px;
		margin-top: 1rem;
		mask: url('@/assets/h2_separator.svg') no-repeat center / contain;
		width: 150px;
		aspect-ratio: 103.22 / 14;
		content: '';
		display: block;
	}
}
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}
